h1,h2{
    text-align: center;
    margin:auto;
    border:rgb(176, 170, 162);
    width: auto;
    height: auto;
    background-color:rgb(223, 215, 215);
}

header{
    text-align: center;
    background-color:rgb;
}
article{
    background:rgb;
    padding:fixed;
    margin:auto;
    background-color:rgb;

}
body{
    background-color:rgb(126, 99, 99);
}
footer{
    text-align: center;
    padding: fixed;
    margin: auto;
    background-color:rgb(223, 215, 215);
    text-decoration-color: black;

}