h1{
    text-align: center;
    margin:auto;
    border:rgb(176, 170, 162);
    width: auto;
    height: auto;
    background-color:rgb(223, 215, 215);
}
.nav{
    float:left;
    background-color:rgb(249, 54, 109) ;
    padding: auto;
    width:auto;
    text-indent: 30px;
    font-size: large;
}
header{
    text-align: center;
    background-color:rgb;
}
div{
    background:rgb;
    padding:fixed;
    margin:auto;
    background-color:rgb(243, 225, 225);

}    
body{
    background-color:rgb(224, 224, 141);
}
footer{
    padding: fixed;
    margin: auto;
    background-color:rgb(223, 215, 215);
text-align: center;
}
